
{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center"> {{ search | title }}</h2>
    <div class="row">
    
    {% for post in final_postings %}
        
            <div class="col s4">
                <div class="card">
                <div class="card-image"> 
                    <img class="lazy" src="{{ post.3 }}"  alt="/">
                </div>
                <div class="card-content">
                   <a href = {{ post.1 }}> {{ post.0 | title}} </a>
                </div>
                <div class="card-action">
                    <p>Price: {{ post.2 }} </p>
                    <p>Distance: {{post.4 }} </p>
                    <p>{{post.5 | title}}</p>

                </div>
                </div>
            </div>
        
                      
    {% endfor %}


    </div>
{% endblock content %}